<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns little-padding searchArea">
							<div class="row">
							<form id='searchForm'>
																																								<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">专家标识:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="expertId" name='expertId' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">文章标识:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="articleId" name='articleId' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">状态(0未审核 -1未通过 1通过):</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="status" name='status' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">评论内容:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="cContent" name='cContent' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">创建时间:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="createDate" name='createDate' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">审核人:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="auditBy" name='auditBy' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">审核时间:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="auditDate" name='auditDate' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">审核内容:</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="auditContent" name='auditContent' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																																<div class=" pull-left col-md-3 nopadding little-marign">
									<span  class=" pull-left col-md-4 forSearch">是否推荐(1是 0否):</span>
									<div class=" pull-left col-md-8 nopadding ">
										<input id="isRecommend" name='isRecommend' type="text" class="form-control"
											placeholder="">
									</div>
								</div>
																								</form>
								<div class=" pull-left col-md-3 nopadding little-marign">
									<button class="pull-left btn btn-success little-marign" type='button' onclick="reLoad()" style="margin-left:10px;">查询</button>
									<button class="pull-left btn btn-success little-marign" type='button' onclick="resetBtn(this)" style="margin-left:10px;">重置</button>
								</div>
							</div>	
							
							<div style='clear:both;'></div>	
						</div>
						<div class="columns ">
							<button shiro:hasPermission="mia:comment:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="mia:comment:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button shiro:hasPermission="mia:comment:add" type="button" class="btn  btn-danger"
								onclick="exportExcel()">
								<i class="fa fa-file-excel-o" aria-hidden="true"></i>导出
							</button>
							
							<button shiro:hasPermission="mia:comment:add" type="button" class="btn  btn-danger"
								onclick="importExcel()">
								<i class="fa fa-file-excel-o" aria-hidden="true"></i>导入
							</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="mia:comment:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="mia:comment:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="mia:comment:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/mia/comment/comment.js"></script>
</body>
</html>