<!DOCTYPE html>
<html>
	
		<meta charset="UTF-8">
		<head th:include="front/include::header"></head>
	</head>
	<body class="bodyback">
		<div th:include="front/include::topbar"></div>
		<!--这是身体-->
		<section class="newsDyC_body">
			<div class="grayStrip clear">
				<div class="textLink">
					<a href="#">首页</a>
				</div>
				<div class="textLink">
					<a href="#">>&nbsp;&nbsp;新闻动态</a>
				</div>
				<div class="textLink">
					<a href="#">>&nbsp;&nbsp;详情</a>
				</div>
			</div>
			<div class="bodyContent">
				<!--这是选择  新闻动态  还是  行业资讯  的选择框-->
				<ul class="selectionBar">
					<li class="selectionBarText" style="border-top:1px solid #dcdcdc ;"><a href="#">新闻动态</a></li>
					<li class="selectionBarText"><a href="#">行业资讯</a></li>
				</ul>
				<article class="newsDyC_article">
					<!--这是文章的标题作者时间啥的文章头-->
					<header class="newsDyC_articleHeader">
						<h1>信息所开展“共建生态文明，共享绿色未来”环保公益活动</h1>
						<div class="newsDyC_articleHeadermore clear">
							<p class="left">发布时间:<span id="releaseTime">2018-10-25</span></p>
							<p class="left">阅读：<span class="newsDy_readNum">61</span></p>
						</div>
						
					</header>
					<!--这是文章内容-->
					<div class="newsDyC_articleText">
						<p id="newsDyC_articleText">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公益是一种信念，它承载着前行的动力；公益是一片沃土，它孕育着温暖的力量。10月25日上午，信息所在泉城公园开展了以
							“共建生态文明，共享绿色未来”为主题的义务捡垃圾环保公益活动，全部志愿者参加了活动。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活动中，志愿者们组成一个个小组，纷纷手持垃圾袋，沿途弯腰拾捡草地上，道路上的烟蒂，纸屑，矿泉水瓶等各种垃圾，沿途遇到了环卫工人
							在清扫落叶，志愿者们主动上前帮忙清扫。
							<div class="imgInActicle"><img  src="../images/photo1_06.png"></div>
						</p>
					</div>
					<div class="newsDyC_articleIndex">
						<p>上一条:<a href="#">低碳环保&nbsp;绿色共享&nbsp;健康生活————泉城公园健步走活动</a></p>
						<p>上一条:<a href="#">信息所宋奎勐博士赴英国利物浦参加世界第五届世界卫生体系研究大会</a></p>
					</div>
				</article>
			</div>
		</section>
		<!--这是尾部-->
		<div th:include="front/include::footer"></div>
	</body>
</html>
