<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.ArticleDataDao">

	<sql id="columns">
		`id`,`content`,`copyfrom`</sql>
	
	<sql id="commons_where">
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="content != null and content != ''"> and content = #{content} </if>
		  <if test="copyfrom != null and copyfrom != ''"> and copyfrom = #{copyfrom} </if>
		</sql>

	<select id="get" resultType="com.bootdo.common.domain.ArticleDataDO">
		select
			<include refid="columns" />
 		from t_article_data
 		where id = #{value}
	</select>

	<select id="getAchievement" resultType="com.bootdo.common.domain.AchievementDO">
		select
			*
 		from t_achievement_data
 		where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.ArticleDataDO">
		select
			<include refid="columns" />
		from t_article_data
        <where>  
		  <include refid="commons_where"/>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_article_data
		 <where>  
		  <include refid="commons_where"/>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.common.domain.ArticleDataDO">
		insert into t_article_data
		(
			`id`, 
			`content`, 
			`copyfrom`
		)
		values
		(
			#{id}, 
			#{content}, 
			#{copyfrom}
		)
	</insert>

	<insert id="saveAchievement" parameterType="com.bootdo.common.domain.AchievementDO">
		insert into t_achievement_data
		(
			`id`,
			`province`,
			`intro`,
			`author`,
			`tel`,
			`money`,
			`date`,
			`achievement_intro`,
			`application_category`,
			`prospect_analysis`,
			`detail_information`,
			`copyfrom`
		)
		values
		(
			#{id},
			#{province},
			#{intro},
			#{author},
			#{tel},
			#{money},
			#{date},
			#{achievementIntro},
			#{applicationCategory},
			#{prospectAnalysis},
			#{detailInformation},
			#{copyfrom}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.common.domain.ArticleDataDO">
		update t_article_data 
		<set>
			<if test="content != null">`content` = #{content}, </if>
			<if test="copyfrom != null">`copyfrom` = #{copyfrom}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateAchievement" parameterType="com.bootdo.common.domain.AchievementDO">
		update t_achievement_data
		<set>
			<if test="province != null">`province` = #{province}, </if>
			<if test="intro != null">`intro` = #{intro}, </if>
			<if test="author != null">`author` = #{author}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="money != null">`money` = #{money}, </if>
			<if test="date != null">`date` = #{date}, </if>

			<if test="achievementIntro != null">`achievement_intro` = #{achievementIntro}, </if>
			<if test="applicationCategory != null">`application_category` = #{applicationCategory}, </if>
			<if test="prospectAnalysis != null">`prospect_analysis` = #{prospectAnalysis}, </if>
			<if test="detailInformation != null">`detail_information` = #{detailInformation}, </if>

			<if test="copyfrom != null">`copyfrom` = #{copyfrom}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from t_article_data where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_article_data where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>