<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cms.dao.CmsLinkDao">

	<select id="get" resultType="com.bootdo.cms.domain.CmsLinkDO">
		select `f_id`,`f_status`,`f_list_order`,`f_description`,`f_url`,`f_name`,`f_image`,`f_target`,`f_rel`, sf.`url` as imageUrl
		from t_cms_link 
		left join sys_file sf on f_image = sf.id
		where f_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cms.domain.CmsLinkDO">
		select `f_id`,`f_status`,`f_list_order`,`f_description`,`f_url`,`f_name`,`f_image`,`f_target`,`f_rel`, sf.`url` as imageUrl
		 from t_cms_link
		 left join sys_file sf on f_image = sf.id
        <where>  
		  		  <if test="fId != null and fId != ''"> and f_id = #{fId} </if>
		  		  <if test="fStatus != null and fStatus != ''"> and f_status = #{fStatus} </if>
		  		  <if test="fListOrder != null and fListOrder != ''"> and f_list_order = #{fListOrder} </if>
		  		  <if test="fDescription != null and fDescription != ''"> and f_description = #{fDescription} </if>
		  		  <if test="fUrl != null and fUrl != ''"> and f_url = #{fUrl} </if>
		  		  <if test="fName != null and fName != ''"> and f_name like CONCAT('%',#{fName},'%') </if>
		  		  <if test="fImage != null and fImage != ''"> and f_image = #{fImage} </if>
		  		  <if test="fTarget != null and fTarget != ''"> and f_target = #{fTarget} </if>
		  		  <if test="fRel != null and fRel != ''"> and f_rel = #{fRel} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by f_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_cms_link
		 <where>  
		  		  <if test="fId != null and fId != ''"> and f_id = #{fId} </if>
		  		  <if test="fStatus != null and fStatus != ''"> and f_status = #{fStatus} </if>
		  		  <if test="fListOrder != null and fListOrder != ''"> and f_list_order = #{fListOrder} </if>
		  		  <if test="fDescription != null and fDescription != ''"> and f_description = #{fDescription} </if>
		  		  <if test="fUrl != null and fUrl != ''"> and f_url = #{fUrl} </if>
		  		  <if test="fName != null and fName != ''"> and f_name like CONCAT('%',#{fName},'%') </if>
		  		  <if test="fImage != null and fImage != ''"> and f_image = #{fImage} </if>
		  		  <if test="fTarget != null and fTarget != ''"> and f_target = #{fTarget} </if>
		  		  <if test="fRel != null and fRel != ''"> and f_rel = #{fRel} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cms.domain.CmsLinkDO" useGeneratedKeys="true" keyProperty="fId">
		insert into t_cms_link
		(
			`f_status`, 
			`f_list_order`, 
			`f_description`, 
			`f_url`, 
			`f_name`, 
			`f_image`, 
			`f_target`, 
			`f_rel`
		)
		values
		(
			#{fStatus}, 
			#{fListOrder}, 
			#{fDescription}, 
			#{fUrl}, 
			#{fName}, 
			#{fImage}, 
			#{fTarget}, 
			#{fRel}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cms.domain.CmsLinkDO">
		update t_cms_link 
		<set>
			<if test="fStatus != null">`f_status` = #{fStatus}, </if>
			<if test="fListOrder != null">`f_list_order` = #{fListOrder}, </if>
			<if test="fDescription != null">`f_description` = #{fDescription}, </if>
			<if test="fUrl != null">`f_url` = #{fUrl}, </if>
			<if test="fName != null">`f_name` = #{fName}, </if>
			<if test="fImage != null">`f_image` = #{fImage}, </if>
			<if test="fTarget != null">`f_target` = #{fTarget}, </if>
			<if test="fRel != null">`f_rel` = #{fRel}</if>
		</set>
		where f_id = #{fId}
	</update>
	
	<delete id="remove">
		delete from t_cms_link where f_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_cms_link where f_id in 
		<foreach item="fId" collection="array" open="(" separator="," close=")">
			#{fId}
		</foreach>
	</delete>

</mapper>