<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="ids" name="ids" th:value="${ids}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">审核状态：</label>
								<div class="col-sm-8">
									<label class="radio-inline" th:each="dict:${T(com.bootdo.common.utils.DictUtils).getDictList('if_checked')}">
										<input type="radio" th:value="${dict.value}" th:text="${dict.name}" name="auditStatus"
											th:checked="${#numbers.formatDecimal(0, 1, 0)==#numbers.formatDecimal(dict.value, 1, 0)}">
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">审核内容：</label>
								<div class="col-sm-8">
									<textarea cols="2"  id="auditContent" name="auditContent" class="form-control" ></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="button" onclick="checkInfo()" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/mia/member/memberCheckInfo.js">
	</script>
</body>
</html>
