<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/all.css"/>
	</head>
	<body class="bodyback">
		<!--头部-->
		<head th:include="front/include :: topbar"></head>
		<!--身体部分-->
		<section id="release">
			<div class="section_box">
				<!--中间标题-->
				<div class="publicTitle">
					<p><span th:text="${user.username}"></span>登录成功！</p>
					<a th:href="@{/front/cms/out}" class="person_exit">退出</a>
				</div>
				<!--左侧信息-->
				<aside>
					<div class="list_box">
						<ul>
							<li><a href="#">个人信息</a></li>
							<li><a href="#">修改密码</a></li>
							<li ><a href="release.html">我要发布</a></li>
							<li class="listStyle"><a href="#">草稿箱</a></li>
							<li><a href="recommendArticle.html">推荐文章</a></li>
							<li><a href="#">我的文章</a></li>
						</ul>
					</div>
				</aside>
				<!--右侧部分-->
				<article>
				    <form action="#" method="post" >
				   		<div class="form-group"> 
				   			<label class="control-label">标题：</label>
				   			<input type="title" name="title" id="title" class="form-control" placeholder="请输入标题"/>
				   		</div>
				   		
				   		<div class="form-group"> 
				   			<input id="content" name="content" type="hidden"> 
				   			<label class="control-label">正文：</label>
				   			
				   		    <div id="content_summernote" class="summernote"></div>
				   		</div>
				   	 	<div class="form-group left">
				        	<button type="submit" class="release_btn">暂存</button>
				        </div>
				        <div class="form-group">
				        	<button type="submit" class="release_btn">发布</button>
				        </div>
				   </form>
		    </div>
		</section>
		<!--脚部-->
		
		<div th:include="front/include :: footer"></div>
	</body>
</html>
