<!DOCTYPE html>
<html>
	<meta charset="utf-8">

	<head th:include="front/include :: header"></head>

	<body class="bodyback">
		<!--头部-->
		<head th:include="front/include :: topbar"></head>
		<!--中间部分-->
		<section id="release" class="clear_box">
			<div class="section_box">
				<!--中间标题-->
				<div class="grayStrip">
				<div class="publicTitle">
					<p><span th:text="${user.username}"></span>登录成功！
					<a th:href="@{/out}" class="person_exit">退出</a></p>
				</div>
			</div>
				<!--左侧信息-->
				<aside>
					<div class="public_box">
						<ul>
							<li class="selectionBarText">
								<a th:href="@{/personalInfo}">个人信息</a>
							</li>
							<li class="selectionBarText">
								<a th:href="@{/modifyPwd}">修改密码</a>
							</li>
							<li class="selectionBarText listStyle">
								<a th:href="@{/release}">我要发布</a>
							</li>
							<li class="selectionBarText">
								<a th:href="@{/drafts}">草稿箱</a>
							</li>
							<li class="selectionBarText">
								<a th:href="@{/myArticle}">我的文章</a>
							</li>
							<li class="selectionBarText">
								<a th:href="@{/open/recommendarticlelist}">推荐文章</a>
							</li>
						</ul>
					</div>
				</aside>
				<!--右侧部分-->
				<article class="clear_box">
					<form method="post" id="signupForm">
						<input type="hidden" name="id"  id="id" th:value="${articleDO.id}"/>
						<div class="form-group">
							<label class="control-label">标题：</label>
							<input type="text" name="title" id="title" class="form-control" th:value="${articleDO.title}"  placeholder="请输入标题" />
						</div>
						<div class="form-group">
							<label class="control-label">文章类型：</label>
							<select class="form-control" name="type" id="type">
								<option th:each="dict:${T(com.bootdo.common.utils.DictUtils).getDictList('business_type')}" th:selected="${articleDO.type eq dict.value}" th:value="${dict.value}" th:text="${dict.name}"></option>
							</select>
						</div>
						<div class="form-group">
							<label class="control-label">摘要：</label>
							<input type="abstract" name="description" id="description" class="form-control"  th:value="${articleDO.description}" placeholder="请填写摘要" />
						</div>

						<div class="form-group">
							<label class="control-label">省份：</label>
							<input id="province" name="province" class="form-control" maxlength="6" th:value="${articleDO.province}" type="text" placeholder="省份 如:山东省">
						</div>
						<div class="form-group">
							<label class="control-label">简介：</label>
							<input id="intro" name="intro" class="form-control" maxlength="12" th:value="${articleDO.intro}" type="text" placeholder="请填写简介">
						</div>
						<div class="form-group">
							<label class="control-label">作者：</label>
							<input id="author" name="author" class="form-control" maxlength="6" th:value="${articleDO.author}" type="text" placeholder="请填写作者">
						</div>
						<div class="form-group">
							<label class="control-label">电话：</label>
							<input id="tel" name="tel" class="form-control" maxlength="16" th:value="${articleDO.tel}" type="text" placeholder="请填写电话">
						</div>
						<div class="form-group">
							<label class="control-label">金额：</label>
							<input id="money" name="money" class="form-control" maxlength="6" th:value="${articleDO.money}" type="text" placeholder="请填写金额 如:20万">
						</div>
						<div class="form-group">
							<label class="control-label">时间：</label>
							<input id="date" name="date" class="form-control" maxlength="10" th:value="${articleDO.date}" type="text" placeholder="请填写时间 如:2019-05-06">
						</div>


						<!--<div class="form-group">
							<input id="content" name="content" type="hidden" th:value="${articleDO.content}">
							<label class="control-label">正文：</label>
							<div id="content_summernote" class="summernote"></div>
						</div>-->

						<div class="form-group">
							<input id="achievementIntro" name="achievementIntro" type="hidden" th:value="${articleDO.achievementIntro}">
							<label class="control-label">成果介绍：</label>
							<div id="achievementIntro_sn" class="summernote"></div>
						</div>
						<div class="form-group">
							<input id="applicationCategory" name="applicationCategory" type="hidden" th:value="${articleDO.applicationCategory}">
							<label class="control-label">应用范围：</label>
							<div id="applicationCategory_sn" class="summernote"></div>
						</div>
						<div class="form-group">
							<input id="prospectAnalysis" name="prospectAnalysis" type="hidden" th:value="${articleDO.prospectAnalysis}">
							<label class="control-label">前景分析：</label>
							<div id="prospectAnalysis_sn" class="summernote"></div>
						</div>
						<div class="form-group">
							<input id="detailInformation" name="detailInformation" type="hidden" th:value="${articleDO.detailInformation}">
							<label class="control-label">详细信息：</label>
							<div id="detailInformation_sn" class="summernote"></div>
						</div>

						<div class="form-group " id='releaseFile'>
							<div class="layui-upload">
								<button type="button" class="layui-btn layui-btn-normal" id="testList">添加附件</button>
								<div class="layui-upload-list" id='imgpreBox'>
									<table class="layui-table">
										<thead>
											<tr>
												<!-- <th>缩略图</th> -->
												<th>文件名</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody id="demoList">
											<tr th:each="m,stat:${fileList}">
												<!-- <td th:id="'imgPre'+${stat.count}">
													<img width="100" height="50" th:src="${m.url}">
												</td> -->
												<input type="hidden" class="fileId" name="fileId" th:value="${m.id}"/>
												<input type="hidden" class="isDel" name="isDel" th:value="0"/>
												<td th:id="'textPre'+${stat.count}" th:text="${m.fileName}"></td>
												<td><button type="button" class="layui-btn layui-btn-xs" onclick="deleteTr(this)">删除</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="form-group" th:if="${articleDO.status == '-1'}">
							<label class="control-label">审核意见：</label>
							<textarea cols="2"  id="auditContent" name="auditContent" class="form-control" th:text="${articleDO.auditContent}" readonly="readonly"></textarea>
						</div>
						<div class="form-group release_buttons">
							<button type="button" class="release_btn" id="zancun">暂存</button>
							<button type="button" class="release_btn release_buttons_2" id="tijiao">提交</button>
						</div>
						<input type="hidden" name="test">
					</form>
				</article>
			</div>
		</section>
		<!--脚部-->
		<!--这是尾部-->
		<div th:include="front/include :: footer"></div>
		<script type="text/javascript" src="/js/front/cms/draftsEdit.js"></script>
	</body>
</html>