<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="front/include :: header"></head>
<body class="bodyback">
<!--头部-->
<head th:include="front/include :: topbar"></head>
<!--中间内容-->
<section id="index">
	<div class="section_box">
		<div class="section_top" style="height: 300px">
			<!--轮播图-->
			<div id="lunbo">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="photoarticle : ${photoarticleList}"><a
								th:href="${#strings.isEmpty(photoarticle.href)} ? @{/front/cms/open/aArticle/detail(id=${photoarticle.id})} : ${photoarticle.href}">
							<img th:src="@{${photoarticle.url!=null}?@{${photoarticle.url}}:@{/img/lunbo01.png}}">
							<input type="hidden" class="bannerTitle" th:value="${photoarticle.title}"></a></div>
					</div>
					<div class="opacity_Bg">
						<div class="text" id="showTitle">图片新闻</div>
						<div class="textBg"></div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!--新闻动态/行业资讯-->
			<div id="tab">
				<div class="tab_title">
					<p class="title-l">新闻动态<span class="trangle"></span></p>
					<p class="title-c">医学动态<span class="trangle-c"></span></p>
					<p class="title-r right"><a th:href="@{/front/cms/open/page/15}" id="news_a">更多</a>></span></p>
				</div>
				<div class="content">
					<ul id="news" class='newsNew'>
						<li th:each="newarticle : ${newarticleList}"><a
								th:href="${#strings.isEmpty(newarticle.href)} ? @{/front/cms/open/aArticle/detail(id=${newarticle.id})} : ${newarticle.href}"
								th:text="${newarticle.title}"></a><span
								th:text="${#dates.format(newarticle.createTime, 'yyyy-MM-dd')}"></span></li>
					</ul>
					<ul id="news" class='newsNew' style='display:none;'>
						<li th:each="m : ${intelligenceList}"><a
								th:href="${#strings.isEmpty(m.href)} ? @{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}"
								th:text="${m.title}"></a><span
								th:text="${#dates.format(m.createTime, 'yyyy-MM-dd')}"></span></li>
					</ul>
				</div>
			</div>
			<!--会员登录-->
			<div id="login_box">
				<div class="login_form">
					<p><span>会员登录</span></p>
					<div class="formBox">
						<div th:if="${user.fType eq 'U'}" id="login_show">
							<div class="item">
								<label class="phone"></label>
								<input type="text" name="username" id="phone" placeholder="手机号" required="required">
							</div>
							<div class="item">
								<label class="pwd"></label>
								<input type="password" name="password" id="pwd" placeholder="密码" required="required">
							</div>
							<div class="item">
								<label class="pwd"></label>
								<input type="text" name="yz" class="yz" id='yz' placeholder="验证码" required="required">
								<div class="yzbox"><img src="/code/image" onClick="getcode()" id="codeImg"></div>
							</div>
							<div class="items">
								<input type="checkbox" name="auto" id="auto">
								<label for="auto">记住密码</label>
								<a href="/front/cms/forgetPwd">忘记密码?</a>
							</div>
							<div class="btns">
								<span class='onebtn' id="login_btn">登录</span>
								<span class='onebtn' id="register_btn">注册</span>
							</div>
						</div>
					</div>
					<div th:if="${user.fType ne'U'}" class="login_hidden">
						<div class="gain_label">
							<img src="/img/xiaotoux.png" id="login_img">
							<span class="gain_phone" th:text="${user.username}"></span><span class="gain_de">已登录</span>
							<div id="login_p">
								<a th:href="@{/index}" class="login_persion">个人中心</a>
								<a th:href="@{/front/cms/out}" class="login_exit">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; height: 5px; background: #0c80ba"></div>
		</div>
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; font-size: 18px">
				<div style="float: left; font-weight: bold"><span>成果展示</span></div>
				<div style="float: right">
					<span>全部</span>
					|
					<span>基础科学</span>
					|
					<span>临床医学</span>
					|
					<span>眼科学</span>
				</div>
			</div>
		</div>
		<hr style="border-top: 2px solid #eee; margin-top: 5px">


		<!--中间成果展示-->
		<div class="secton_down" style="height: 400px">
			<!--左侧内容-->
			<article>
				<div class="content_l" style="width: 200px; ">

					<div class="newback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px;">
						<p style="padding-top: 60px; font-size: 16px" data-toggle="tab" href="#new">最新成果</p>
					</div>

					<div class="tuijianback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px">
						<p style="padding-top: 60px; font-size: 16px" data-toggle="tab" href="#tuijian">推荐成果</p>
					</div>

					<div class="deployback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px">
						<p style="padding-top: 60px; font-size: 16px" data-toggle="tab" href="#deploy">发布成果</p>
					</div>
				</div>
				<div class="content_r tab-content">
					<div class="content_r tab-pane fade in active" style="width: 675px; background: #efefef; line-height: 24px;font-size: 14px;
                        padding: 7px 0 5px; padding-left: 30px" id="new">
						<ul class="list_14" style="list-style: inherit; font-size: 18px; line-height: 40px; padding-top: 18px">
							<li class="topli14" style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0727464.shtml">
									中国拒绝做这件事后 美日欧集体“慌”了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style=" width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/o/2019-04-08/doc-ihvhiqax0957182.shtml">
									中国在莫斯科做的这件事 让外国网友眼红了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0908170.shtml">
									领大陆身份证被罚 南京大屠杀铁证发现者要告台当局</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiewr4112246.shtml">
									出国游比国内游便宜？胡锡进算这笔账后网友不淡定了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
						</ul>
					</div>

					<div class="content_r tab-pane fade" style="width: 675px; background: #efefef; line-height: 24px;font-size: 14px;
                        padding: 7px 0 5px; padding-left: 30px" id="deploy">
						<ul class="list_14" style="list-style: inherit; font-size: 18px; line-height: 40px; padding-top: 18px">
							<li class="topli14" style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0727464.shtml">
									111111</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style=" width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/o/2019-04-08/doc-ihvhiqax0957182.shtml">
									中国在莫斯科做的这件事 让外国网友眼红了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0908170.shtml">
									领大陆身份证被罚 南京大屠杀铁证发现者要告台当局</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiewr4112246.shtml">
									出国游比国内游便宜？胡锡进算这笔账后网友不淡定了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
						</ul>
					</div>

					<div class="content_r tab-pane fade" style="width: 675px; background: #efefef; line-height: 24px;font-size: 14px;
                        padding: 7px 0 5px; padding-left: 30px" id="tuijian">
						<ul class="list_14" style="list-style: inherit; font-size: 18px; line-height: 40px; padding-top: 18px">
							<li class="topli14" style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0727464.shtml">
									22222</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style=" width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/o/2019-04-08/doc-ihvhiqax0957182.shtml">
									中国在莫斯科做的这件事 让外国网友眼红了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiqax0908170.shtml">
									领大陆身份证被罚 南京大屠杀铁证发现者要告台当局</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
							<li style="width: 100%">
								<a target="_blank" style="color: black" href="https://news.sina.com.cn/c/2019-04-08/doc-ihvhiewr4112246.shtml">
									出国游比国内游便宜？胡锡进算这笔账后网友不淡定了</a>
								<span style="float: right; padding-right: 10px">2019-04-06</span>
							</li>
						</ul>
					</div>
				</div>
			</article>
			<!--右侧内容-->
			<aside style="background: #efefef; border: 10px solid #efefef; ">
				<div id="myCarousel" class="carousel slide">

					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img style="height: 215px" src="http://www.stdaily.com/cgzspt/shengwu/201702/518199/images/71376bcd72044ca1a74c1881fd62cbf2.jpg" alt="First slide">
						</div>
						<div class="item" >
							<img style="height: 215px" src="http://www.runoob.com/wp-content/uploads/2014/07/slide2.png" alt="Second slide">
						</div>
						<div class="item" >
							<img style="height: 215px" src="http://www.runoob.com/wp-content/uploads/2014/07/slide3.png" alt="Third slide">
						</div>
					</div>
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators" style="bottom: 0px">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
				</div>
				<div class="title carousel-inner" style="height: 70px; background: white">
					<span style="width: 100% !important;
    float: left !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;">可溶性ST2作为主动脉夹层新型生物标志</span>
				</div>
				<div class="title carousel-inner; " style="background: white; margin-top: 10px; height: 35px">

					<!-- 轮播（Carousel）导航 -->
					<a class="" href="#myCarousel" role="button" data-slide="next" style="float: right; padding-right: 10px">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<a class="" href="#myCarousel" role="button" data-slide="prev" style="float: right; padding-right: 5px">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
			</aside>
		</div>

		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; height: 5px; background: #0c80ba"></div>
		</div>
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; font-size: 18px">
				<div style="float: left; font-weight: bold"><span>专家展示</span></div>
				<div style="float: right">
					<span>全部</span>
					|
					<span>基础科学</span>
					|
					<span>临床医学</span>
					|
					<span>眼科学</span>
				</div>
			</div>
		</div>
		<hr style="border-top: 2px solid #eee; margin-top: 5px">

		<!-- 专家展示 -->
		<div style="height: 320px; width:100%">

			<div style="width: 150px;height: 210px; margin-left: 42px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
                padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>

			<div style="width: 150px;height: 210px; margin-left: 40px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
                padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>

			<div style="width: 150px;height: 210px; margin-left: 40px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
					padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>

			<div style="width: 150px;height: 210px; margin-left: 40px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
					padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>

			<div style="width: 150px;height: 210px; margin-left: 40px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
					padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>

			<div style="width: 150px;height: 210px; margin-left: 40px; float: left; ">
				<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
					<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=f9d597516d59252db71a155655f2685e/902397dda144ad3479aef2ccdda20cf431ad8563.jpg" style="width: 150px;height: 210px">
				</div>
				<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
					padding-top: 10px; padding-bottom: 1px">
					<p>专家A</p>
					<p>蒙古医院</p>
				</div>
			</div>
		</div>

		<!--中间底部-->
		<div class="secton_down" style="height: 300px">
			<!--左侧内容-->
			<article style="width: 100%">
				<div class="content_l" style="width: 370px">
					<div class="title">
						<span class="title-l">会员单位</span>
						<span class="title-r right"><a th:href="@{/front/cms/open/notifyarticlelist}">更多</a>></span>
					</div>
					<div class="content">
						<ul id='notice'>
							<li th:each="notifyarticle : ${notifyarticleList}"><a
									th:href="${#strings.isEmpty(notifyarticle.href)} ? @{/front/cms/open/aArticle/detail(id=${notifyarticle.id})} : ${notifyarticle.href}"
									th:text="${notifyarticle.title}"></a><span
									th:text="${#dates.format(notifyarticle.createTime, 'yyyy-MM-dd')}"></span></li>
						</ul>
					</div>
				</div>
				<div class="content_r" style="width: 370px">
					<div class="title">
						<span class="title-l">政策法规</span>
						<span class="title-r right"><a th:href="@{/front/cms/open/recommendarticlelist}">更多</a>></span>
					</div>
					<div class="content">
						<ul id="article">
							<li th:each="recommendarticle : ${recommendarticleList}"><a
									th:href="@{/front/cms/open/aArticle/detail(id=${recommendarticle.id})}"
									th:text="${recommendarticle.title}"></a><span
									th:text="${recommendarticle.create.name}"></span><span>作者：</span></li>
						</ul>
					</div>
				</div>
				<div class="content_r" style="width: 370px">
					<div class="title">
						<span class="title-l">相关下载</span>
						<span class="title-r right"><a th:href="@{/front/cms/open/recommendarticlelist}">更多</a>></span>
					</div>
					<div class="content">
						<ul id=
									"article">
							<li th:each="recommendarticle : ${recommendarticleList}"><a
									th:href="@{/front/cms/open/aArticle/detail(id=${recommendarticle.id})}"
									th:text="${recommendarticle.title}"></a><span
									th:text="${recommendarticle.create.name}"></span><span>作者：</span></li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
<!--脚部-->
<div th:include="front/include :: footer"></div>
<script src="/js/front/cms/index.js" type="text/javascript"></script>
</body>
</html>
