<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="front/include :: header"></head>
<body class="bodyback">
<!--头部-->
<head th:include="front/include :: topbar"></head>
<div style="justify-content: center;display: flex;">
	<div style="height: 45px;background: white;width: 1200px;">
	</div>
</div>
<!--中间内容-->
<section id="index">
	<div class="section_box" style="background: white">
		<div class="section_top" >
			<!--轮播图-->
			<div id="lunbo">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="photoarticle : ${photoarticleList}">
							<a th:href="${#strings.isEmpty(photoarticle.href)} ? @{/front/cms/open/aArticle/detail(id=${photoarticle.id})} : ${photoarticle.href}">
							<img th:src="@{${photoarticle.url!=null}?@{${photoarticle.url}}:@{/img/lunbo01.png}}">
							<input type="hidden" class="bannerTitle" th:value="${photoarticle.title}"></a>
						</div>
					</div>
					<div class="opacity_Bg">
						<div class="text" id="showTitle">图片新闻</div>
						<div class="textBg"></div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!--新闻动态/行业资讯-->
			<div id="tab">
				<div class="tab_title">
					<p class="title-l">新闻资讯<span class="trangle"></span></p>
<!--
					<p class="title-c">医学动态<span class="trangle-c"></span></p>
-->
					<p class="title-r right">
						<a th:href="@{/front/cms/open/page/15}" id="news_a">更多</a>></span>
					</p>
				</div>
				<div class="content">
					<ul id="news" class='newsNew'>
						<li th:each="newarticle : ${newarticleList}"><a
								th:href="${#strings.isEmpty(newarticle.href)} ? @{/front/cms/open/aArticle/detail(id=${newarticle.id})} : ${newarticle.href}"
								th:text="${newarticle.title}"></a><span
								th:text="${#dates.format(newarticle.createTime, 'yyyy-MM-dd')}"></span></li>
					</ul>
					<!--<ul id="news" class='newsNew' style='display:none;'>
						<li th:each="m : ${intelligenceList}"><a
								th:href="${#strings.isEmpty(m.href)} ? @{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}"
								th:text="${m.title}"></a><span
								th:text="${#dates.format(m.createTime, 'yyyy-MM-dd')}"></span></li>
					</ul>-->
				</div>
			</div>
			<!--会员登录-->
			<div id="login_box">
				<div class="login_form">
					<p><span>会员登录</span></p>
					<div class="formBox">
						<div th:if="${user.fType eq 'U'}" id="login_show">
							<div class="item">
								<label class="phone"></label>
								<input type="text" name="username" id="phone" placeholder="手机号" required="required">
							</div>
							<div class="item">
								<label class="pwd"></label>
								<input type="password" name="password" id="pwd" placeholder="密码" required="required">
							</div>
							<div class="item">
								<label class="pwd"></label>
								<input type="text" name="yz" class="yz" id='yz' placeholder="验证码" required="required">
								<div class="yzbox"><img src="/code/image" onClick="getcode()" id="codeImg"></div>
							</div>
							<div class="items">
								<input type="checkbox" name="auto" id="auto">
								<label for="auto">记住密码</label>
								<a href="/front/cms/forgetPwd">忘记密码?</a>
							</div>
							<div class="btns">
								<span class='onebtn' id="login_btn">登录</span>
								<span class='onebtn' id="register_btn">注册</span>
							</div>
						</div>
					</div>
					<div th:if="${user.fType ne'U'}" class="login_hidden">
						<div class="gain_label">
							<img src="/img/xiaotoux.png" id="login_img">
							<span class="gain_phone" th:text="${user.username}"></span><span class="gain_de">已登录</span>
							<div id="login_p">
								<a th:href="@{/index}" class="login_persion">个人中心</a>
								<a th:href="@{/front/cms/out}" class="login_exit">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!--中间成果展示-->
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px" id="achievementShow">
			<div style="width: 1200px; height: 5px; background: #0c80ba"></div>
		</div>
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; font-size: 18px">
				<div style="float: left; font-weight: bold"><span>成果展示</span></div>
				<div style="float: right">
					<span style="font-size: 16px">
						<a  href="/" style="font-size: 16px; color: black">
						全部
						</a>
					</span>
					<span  th:each="achievementType : ${achievementTypes}"  >
						<a th:href="@{/front/cms(achievement=${achievementType.value})}"
						   th:text="' | ' + ${achievementType.name}" style="font-size: 16px; color: black">
						</a>
					</span>
					&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<hr style="border-top: 2px solid #eee; margin-top: 5px">
		<div class="secton_down" style="height: 400px">
			<!--左侧内容-->
			<article>
				<div class="content_l" style="width: 200px; ">

					<div class="newback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px;">
						<p style="padding-top: 60px; font-size: 14px" data-toggle="tab" href="#new">最新成果</p>
					</div>

					<div class="tuijianback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px">
						<p style="padding-top: 60px; font-size: 14px" data-toggle="tab" href="#tuijian">推荐成果</p>
					</div>

					<div class="deployback" style="height: 100px; width: 210px; color: white;
                                    margin-bottom: 20px; text-align:center; border-radius:5px">
						<p style="padding-top: 60px; font-size: 14px" data-toggle="tab" href="#deploy">发布成果</p>
					</div>
				</div>
				<div class="content_r tab-content">
					<!-- 最新成果 -->
					<div class="content_r tab-pane fade in active" style="width: 675px; background: #efefef;
						line-height: 24px;font-size: 14px; padding: 7px 0 5px; padding-left: 30px" id="new">
						<ul class="list_14" style="list-style: inherit; font-size: 16px; line-height: 35px; padding-top: 18px">
							<li th:each="recommendarticle : ${newestAchievementList}" style="width: 99%">
								<a th:href="@{/front/cms/open/articleScore/detail(id=${recommendarticle.id})}"
								   th:text="${recommendarticle.title}" style="color: black"></a>
								<span style="float: right; padding-right: 10px" th:text="${#dates.format(recommendarticle.createTime, 'yyyy-MM-dd')}">
									2019-04-06
								</span>
							</li>
						</ul>
					</div>
					<!-- 推荐成果 -->
					<div class="content_r tab-pane fade" style="width: 675px; background: #efefef; line-height: 24px;
						font-size: 14px; padding: 7px 0 5px; padding-left: 30px" id="tuijian"	>
						<ul class="list_14" style="list-style: inherit; font-size: 16px; line-height: 35px; padding-top: 18px">
							<li th:each="recommendarticle : ${recommendAchievementList}" style="width: 99%">
								<a th:href="@{/front/cms/open/aArticle/detail(id=${recommendarticle.id})}"
								   th:text="${recommendarticle.title}" style="color: black"></a>
								<span style="float: right; padding-right: 10px" th:text="${#dates.format(recommendarticle.createTime, 'yyyy-MM-dd')}">
									2019-04-06
								</span>
							</li>
						</ul>
					</div>
					<!-- 发布成果 -->
					<div class="content_r tab-pane fade" style="width: 675px; background: #efefef; line-height: 24px;font-size: 14px;
                        padding: 7px 0 5px; padding-left: 30px" id="deploy">
						<ul class="list_14" style="list-style: inherit; font-size: 16px; line-height: 35px; padding-top: 18px">
							<li th:each="recommendarticle : ${deployAchievementList}" style="width: 99%">
								<a th:href="@{/front/cms/open/aArticle/detail(id=${recommendarticle.id})}"
								   th:text="${recommendarticle.title}" style="color: black"></a>
								<span style="float: right; padding-right: 10px" th:text="${#dates.format(recommendarticle.createTime, 'yyyy-MM-dd')}">
									2019-04-06
								</span>
							</li>
						</ul>
					</div>
				</div>
			</article>
			<!--右侧视频轮播内容-->
			<aside style="background: #efefef; border: 10px solid #efefef; ">
				<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div th:each="m, mStat : ${videoList}"  th:class="${mStat.index}==0 ? 'item active' : 'item'">
							<a th:href="${#strings.isEmpty(m.href)} ? @{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}">
								<img style="height: 210px" th:src="${m.url}" class="attachment-medium wp-post-image">
								<div class="title carousel-inner" style="height: 70px; background: white; padding: 10px 10px 10px 10px;">
									<span style="width: 100% !important; float: left !important; overflow: hidden !important;
										text-overflow: ellipsis !important; white-space: normal !important;"
										  th:text="${m.title}">
										可溶性ST2作为主动脉夹层新型生物标志
									</span>
								</div>
							</a>
						</div>
					</div>
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators" style="bottom: 0px;margin-bottom: 80px;">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
				</div>

				<div class="title carousel-inner; " style="background: white; margin-top: 10px; height: 35px">
					<!-- 轮播（Carousel）导航 -->
					<a class="" href="#myCarousel" role="button" data-slide="next" style="float: right; padding-right: 10px">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<a class="" href="#myCarousel" role="button" data-slide="prev" style="float: right; padding-right: 5px">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
			</aside>
		</div>

		<!--专家展示-->
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px" id="specialtyShow">
			<div style="width: 1200px; height: 5px; background: #0c80ba"></div>
		</div>
		<div style="width: 100%;;background-size: cover;display: flex; justify-content: center;align-items: flex-end;
                margin-top: 10px">
			<div style="width: 1200px; font-size: 18px">
				<div style="float: left; font-weight: bold"><span>专家展示</span></div>
				<div style="float: right">
					<span style="font-size: 16px">
						<a  href="/" style="font-size: 16px; color: black">
						全部
						</a>
					</span>
					<span  th:each="specialtyType : ${specialtyTypes}"  >
						<a th:href="@{/front/cms(specialty=${specialtyType.value})}"
						   th:text="' | ' + ${specialtyType.name}" style="font-size: 16px; color: black">
						</a>
					</span>


					&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<hr style="border-top: 2px solid #eee; margin-top: 5px">

		<!-- 专家展示 -->
		<div style="height: 320px; width:100%">

			<div th:each="expert : ${expertList}" style="width: 150px;height: 210px; margin-left: 42px; float: left; ">
				<a th:href="@{/front/cms/open/expert/detail(expertId=${expert.expertId})}">
					<div style="border: 10px solid #FFF; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15); overflow: hidden;">
						<img th:src="@{${expert.url!=null}?@{${expert.url}}:@{/img/morentouxiang.png}}" style="width: 150px;height: 210px">
					</div>
					<div style="margin-top:10px; background:#c9c9c9 ;text-align: center;vertical-align: middle;
                			padding-top: 10px; padding-bottom: 1px">
						<p th:text="${expert.expertName}">专家A</p>
						<p th:text="${expert.company}">蒙古医院</p>
					</div>
				</a>
			</div>

		</div>

		<!--中间底部-->
		<div class="secton_down" style="height: 300px">
			<!--左侧内容-->
			<article style="width: 100%">
				<div class="content_l" style="width: 350px; margin-left: 40px">
					<div class="title">
						<span class="title-l">会员单位</span>
						<span class="title-r right"><a th:href="@{/front/cms/open/page/13}">更多</a>></span>
					</div>
					<div class="content">
						<ul >
							<li th:each="m : ${unitList}"  >
								<a th:href="${#strings.isEmpty(m.href)} ? @{/front/cms/open/aArticle/detail(id=${m.id})}
								: ${m.href}" th:text="${m.title}">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="content_r" style="width: 350px">
					<div class="title">
						<span class="title-l">政策法规</span>
						<span class="title-r right">
							<a th:href="@{/front/cms/open/page/${policiesCategoryId}}">更多</a>
						</span>
					</div>
					<div class="content">
						<ul >
							<li th:each="m : ${policiesList}"  ><a th:href="${#strings.isEmpty(m.href)} ?
								@{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}" th:text="${m.title}"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="content_r" style="width: 350px; margin-right: 2px">
					<div class="title">
						<span class="title-l">相关下载</span>
						<span class="title-r right"><a th:href="@{/front/cms/open/page/14}">更多</a>></span>
					</div>
					<div class="content">
						<div class="comment">
							<ul >
								<ul >
									<li th:each="m : ${downList}"  >
										<a th:href="${#strings.isEmpty(m.href)} ?
										 @{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}" th:text="${m.title}"></a></li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
<!--脚部-->
<div th:include="front/include :: footer"></div>
<script src="/js/front/cms/index.js" type="text/javascript"></script>
<script th:if="${achievement != null}" >
    $("body,html").scrollTop($("#achievementShow").offset().top-30);
</script>
<script th:if="${specialty != null}" >
    $("body,html").scrollTop($("#specialtyShow").offset().top-30);
</script>
</body>
</html>
