<!DOCTYPE html>
<html>
<head th:include="front/include::header"></head>
<body class="bodyback">
<!--这是头-->
<head th:include="front/include :: topbar"></head>
<!--这是身子-->
<section class="total">
    <div class="grayStrip">
        <div class="publicTitle">
            <p><span th:text="${user.username}"></span>登录成功！
                <a th:href="@{/out}" class="person_exit">退出</a></p>
        </div>
    </div>
    <!--这是选择盒子-->
    <div class="bodyContent">
        <ul class="selectionBar">
            <li class="selectionBarText"><a th:href="@{/personalInfo}">个人信息</a></li>
            <li class="selectionBarText choosed"><a th:href="@{/modifyPwd}">修改密码</a></li>
            <li class="selectionBarText"><a th:href="@{/release}">我要发布</a></li>
            <li class="selectionBarText"><a th:href="@{/drafts}">草稿箱</a></li>
            <li class="selectionBarText"><a th:href="@{/myArticle}">我的文章</a></li>
            <li class="selectionBarText"><a th:href="@{/open/recommendarticlelist}">推荐文章</a></li>
        </ul>
        <form id="signupFormR">
        <div class="modifyPersonalInfo" id="signupForm">
            <p class="personalInfotitle">修改个人信息</p>
            <input id="memId" name="memId" th:value=${member.memId} type="hidden">

            <div class="messageBoardInfo">
                <div class="personalInfoName left">真实姓名：</div>
                <div><input id="memName" name='memName' th:value="${member.memName}" class="messageBoardInput"/></div>
            </div>
            <div class="messageBoardInfo">
                <div class="personalInfoName left">性别：</div>
                <div>
                    <select id="sex" name="sex" style="    width: 387px; height: 35px; margin: 0 20px 0 0;  padding: 0 0 0 10px;">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="messageBoardInfo">
                <div class="personalInfoName left">手机号：</div>
                <div><input id="phone" name='phone' th:value="${member.phone}" class="messageBoardInput" disabled/>
                </div>
            </div>
            <div class="messageBoardInfo">
                <div class="personalInfoName left">邮箱：</div>
                <div><input id="email" name='email' th:value="${member.email}" class="messageBoardInput"/></div>
            </div>
            <div class="messageBoardInfo">
                <div class="personalInfoName left">工作单位：</div>
                <div><input id="company" name='company' th:value="${member.company}" class="messageBoardInput"/></div>
            </div>
            <div class="messageBoardInfo">
                <div class="personalInfoName left">专长：</div>
                <div>
                    <input type="hidden" id='sp_id' name='sp_id' th:value="${member.specialty}"/>
                    <input id="specialty" name='specialty' th:value="${member.specialtyName}" class="messageBoardInput"
                           readonly/>
                </div>
            </div>
            <div class="" style="height: 130px">
                <div class="personalInfoName left">会员头像：</div>
                <div class="">
                    <button type="button" class="layui-btn" id="headImg">上传图片</button>
                    <div class="" style="margin-left:100px; margin-top: 10px;">
                        <img class="layui-upload-img" id="headImg_img"
                             th:src="@{${fileObj != null }? @{${fileObj.url}} : @{''}}">
                        <p id="imguploaddemoText"></p>
                    </div>
                </div>
            </div>
            <div class="modifyPersonalInfo_box">
                <button class="modify_btn" type="submit" id="modifyInfo_btn">确认修改</button>
            </div>
        </div>
        </form>
        <!-- <p class="Bigtitle">修改个人信息</p>
        <div class="modifyPersonalInfo" id="signupForm">
            <input id="memId" name="memId" th:value=${member.memId}  type="hidden">
            <div class="modifyPersonalInfo_box">
                <p>&nbsp;手&nbsp;机&nbsp;号&nbsp;：<input type="text" class="" name="phone" id="phone" th:value=${member.phone}></p>
                </div>
                <div class="modifyPersonalInfo_box">
                <p>真实姓名：<input type="text" class="" name="memName" id="memName" th:value=${member.memName} ></p>
            </div>
            <div class="modifyPersonalInfo_box">
                <p>工作单位：<input type="text" class="" name="company" id="company" th:value=${member.company} ></p>
            </div>
            <div class="modifyPersonalInfo_box">
                <button class="modify_btn" type="submit" id="modifyInfo_btn">确认修改</button>
            </div>
        </div> -->

    </div>
</section>

<div th:include="front/include::footer"></div>
<script src="/js/front/cms/modifyInfo.js" type="text/javascript"></script>
</body>
</html>
