<!DOCTYPE html>
<html>
	<head th:include="front/include::header"></head>
	<body>
		<!--这是头-->
		<head th:include="front/include :: topbar"></head>
		<!--这是身子-->
		<section class="total">
			<div class="grayStrip">	
				<div class="publicTitle">
					<p><span th:text="${user.username}"></span>登录成功！
					<a th:href="@{/front/cms/out}" class="person_exit">退出</a></p>
				</div>
			</div>
			<!--这是选择盒子-->
			<div class="bodyContent">
				<ul class="selectionBar">
				 	<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/personalInfo}">个人信息</a></li>
					<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/modifyPwd}">修改密码</a></li>
					<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/release}">我要发布</a></li>
					<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/drafts}">草稿箱</a></li>
					<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/myArticle}">我的文章</a></li> 
					<li th:if="${user.fType eq 'M'}" class="selectionBarText"><a th:href="@{/front/cms/open/recommendarticlelist}">推荐文章</a></li>
					<li th:if="${user.fType eq 'E'}" class="selectionBarText"><a th:href="@{/front/cms/expertInfo}">个人信息</a></li>
					<li th:if="${user.fType eq 'E'}" class="selectionBarText"><a th:href="@{/front/cms/open/articleScorelist}">文章评分</a></li>
					<li th:if="${user.fType eq 'E'}" class="selectionBarText"><a th:href="@{/front/cms/open/expertCommentArticleList}">已评文章</a></li>
					<li th:if="${user.fType eq 'E'}" class="selectionBarText"><a th:href="@{/front/cms/open/expertRecommendArticleList}">文章推荐</a></li>
					<li th:if="${user.fType eq 'E'}" class="selectionBarText"><a th:href="@{/front/cms/open/expertCommentList(expertId=${user.busId})}">我的评论</a></li>
					<li class="selectionBarText choosed"><a th:href="@{/front/cms/mynews}">消息通知</a></li>
				</ul>
			</div>
			<div class="recommendA_article min_height">
			<form  method="post" id="signupForm" action="/front/cms/mynews">
							<ul class="recommendDetail">
								 <li th:each="m ,stat: ${pageUtils.rows}">
								 <img src="/img/BluelistStyle.jpg">
								 <a th:href="@{/front/cms/mynews/detail(id=${m.fMsgId})}" th:text="${m.fTitle}"></a>
								 <span class="recommend_time_1" th:text="${#dates.format(m.fSendTime, 'yyyy-MM-dd')}"></span>
								 </li>			
							</ul>	
							<div class="tijianpageNum" th:include="front/include::split_page" ></div>
					        </form>
					</div>
		</section>
		<!-- 尾部 -->
		<div th:include="front/include :: footer"></div>
	</body>
	
</html>
