<!DOCTYPE html>
<html>
<meta charset="utf-8">
	<head th:include="front/include::header"></head>
	<body class="bodyback">
		<!--这是身体-->
		<section class="total">
			<div class="grayStrip clear">
				<div class="textLink">
					<a th:href="@{/front/cms}">首页</a>
				</div>
				<div class="textLink">
					<a th:href="@{/front/cms/open/notifyarticleList}">>&nbsp;&nbsp;通知公告</a>
				</div>
			</div>
			<!--这是选择盒子-->
			<div class="bodyContent">
				<ul class="selectionBar">
					<li class="selectionBarText choosed" style="border-top:1px solid #dcdcdc ;"><a href="">通知公告</a></li>
					<!--  <li class="selectionBarText"><a href="#">行业资讯</a></li>-->
				</ul>
			    <form  method="post" id="signupForm" action="/front/cms/open/article/detail" class="min_height">
			     <div class="article_down">
				       	<ul class="article_list">
				      		<li th:each="m ,stat: ${pageUtils.rows}">
				    			<a th:href="@{/front/cms/open/article/detail(id=${m.id})}" th:text="${m.title}">但干细胞治疗心脏病并非没有希望</a>
				    			
					    			<!-- <span class="writer">阅读量：</span>
					       			<span class="writer_name" th:text="${m.hits}">88</span> -->
				    			
				       			<span class="writer_time" th:text="${m.createTime} == null ? null : ${#dates.format(m.createTime, 'yyyy-MM-dd')}" >2018-10-11</span>
				       			
				       		</li>
				       	</ul>
				       	<div class="tuijianpageNum" th:include="front/include::split_page" ></div>
				    </div>
				
				</form>
				
			</div>
		</section>
		<!--这是尾部-->
		<div th:include="front/include::footer"></div>
	</body>
</html>
