<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head th:include="front/include :: header"></head>
	<body class="bodyback">
	<head th:include="front/include :: topbar"></head>

		<!--这是身体-->
		<section class="bodyFrame">
			<div class="grayStrip clear">
				<div class="textLink">
					<a th:href="@{/}">首页</a>
				</div>
				<div class="textLink">
					<a th:href="@{/front/cms/open/expertlist}" class="listStyle">>&nbsp;&nbsp;党建专栏</a>
				</div>
			</div>
			<div class="bodyContent">
				<ul class="selectionBar">
					<li class="selectionBarText choosed"><a th:href="@{/front/cms/open/expertlist}">党建专栏</a></li>
				</ul>
			
				<div class="expertExhibition_content">
					<div class='buildHeader' >
						<div class='buildHeaderDiv'>
							<span>党建专栏</span>
						</div>
					</div>
					
					<div class='buildOne' th:each="m,stat : ${pageUtils.rows}"  >
						<div class='buildOneHead' th:text="${m.title}"></div>
						<div class='buildOneBody buildOneBodyFirst' >
							<img th:src="@{${m.url!=null}?@{${m.url}}:''}" th:if='${stat.index==0}'/>
							<div class='buildOneInfo' th:text="${m.description}"></div>
							<div class='buildOneMore' >
								<a th:href="${#strings.isEmpty(m.href)} ? @{/front/cms/open/aArticle/detail(id=${m.id})} : ${m.href}" >详细>></a>
							</div>
						</div>
					</div>
					
					<div class="tuijianpageNum" th:include="front/include::split_page" ></div>
				</div>
				
			</div>
		</section>
		<!--这是尾部-->
		<div th:include="front/include :: footer"></div>
	</body>
</html>
