<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="front/include::header"></head>
<body class="bodyback">
<!--这是头-->
<!--这是身子-->
<section class="total">
    <div class="grayStrip clear">
        <div class="textLink">
            <a th:href="@{/}">首页</a>
        </div>
        <div class="textLink">
            <a th:href="@{/front/cms/open/recommendarticlelist}">>&nbsp;&nbsp;搜索结果</a>
        </div>
    </div>
    <!--这是选择盒子-->
    <div class="bodyContent">
        <ul class="selectionBar">
            <li class="selectionBarText choosed"><a th:href="@{/front/cms/open/recommendarticlelist}">搜索结果</a></li>
        </ul>

        <div class="recommendA_article min_height">
            <form method="post" id="signupForm" action="/front/cms/open/recommendarticlelist">
                <!-- <div class="fabu_box">
                    <div class="fabu_top">
                        <p>文章标题：<input class="fabu" type="text" name="title" id="title" th:value="${pageUtils.params.title}"/></p>
                        <p>发布时间：
                           <select id="date" name="datesearch">
                               <option value="">---请选择---</option>
                            <option th:selected="${pageUtils.params.datesearch eq '1'}" th:value="1">最近一天</option>
                            <option th:selected="${pageUtils.params.datesearch eq '7'}" th:value="7">最近一周</option>
                            <option th:selected="${pageUtils.params.datesearch eq '30'}" th:value="30">最近一月</option>
                            <option th:selected="${pageUtils.params.datesearch eq '365'}" th:value="365">最近一年</option>
                        </select>
                        </p>
                        <p>文章类型：
                        <select id="type" name="type">
                            <option value="">---请选择---</option>
                            <option th:selected="${pageUtils.params.type eq dict.value}" th:each="dict:${T(com.bootdo.common.utils.DictUtils).getDictList('business_type')}" th:value="${dict.value}" th:text="${dict.name}"></option>
                        </select>
                        </p>
                        <button type="submit" class="fabu_search">搜索</button>
                   </div>
                </div> -->
                <div class="article_down">
                    <ul class="article_list">
                        <li th:each="m ,stat: ${pageUtils.rows}">
                            <a th:if="${m.status}== 1" th:href="@{/front/cms/open/articleScore/detail(id=${m.id})}" th:text="${m.title}">
                                心脏干细胞研究论文造假&nbsp;但干细胞治疗心脏病并非没有希望
                            </a>
                            <a th:if="${m.status} != 1" th:href="@{/front/cms/open/aArticle/detail(id=${m.id})}" th:text="${m.title}">
                                心脏干细胞研究论文造假&nbsp;但干细胞治疗心脏病并非没有希望
                            </a>
                            <span class="writer">作者：</span>
                            <span class="writer_name" th:text="${m.create.name}">张熙桐</span>
                            <span class="writer_time"
                                  th:text="${m.publishTime} == null ? null : ${#dates.format(m.publishTime, 'yyyy-MM-dd')}">
                                2018-10-11
                            </span>
                        </li>
                    </ul>
                    <div class="tuijianpageNum" th:include="front/include::split_page"></div>
                </div>
            </form>
        </div>
    </div>
</section>


<!--这是尾部-->
<div th:include="front/include::footer"></div>
</body>
</html>
