<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
																																																	<div class="form-group">	
								<label class="col-sm-3 control-label">留言内容：</label>
								<div class="col-sm-8">
									<input id="lmContent" name="lmContent" class="form-control" type="text">
								</div>
							</div>
																																																	<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createBy" name="createBy" class="form-control" type="text">
								</div>
							</div>
																																										<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input type="text" class="laydate-icon layer-date form-control"
										id="createDate" name="createDate" placeholder="请选择日期时间"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										style="background-color: #fff;" readonly="readonly"
										style="width: 40%; float: left" />
								</div>
							</div>
																																																								<div class="form-group">	
								<label class="col-sm-3 control-label">审核人：</label>
								<div class="col-sm-8">
									<input id="auditBy" name="auditBy" class="form-control" type="text">
								</div>
							</div>
																																										<div class="form-group">
								<label class="col-sm-3 control-label">审核时间：</label>
								<div class="col-sm-8">
									<input type="text" class="laydate-icon layer-date form-control"
										id="auditDate" name="auditDate" placeholder="请选择日期时间"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										style="background-color: #fff;" readonly="readonly"
										style="width: 40%; float: left" />
								</div>
							</div>
																																																								<div class="form-group">	
								<label class="col-sm-3 control-label">审核内容：</label>
								<div class="col-sm-8">
									<input id="auditContent" name="auditContent" class="form-control" type="text">
								</div>
							</div>
																																																	<div class="form-group">	
								<label class="col-sm-3 control-label">回复人：</label>
								<div class="col-sm-8">
									<input id="replyBy" name="replyBy" class="form-control" type="text">
								</div>
							</div>
																																										<div class="form-group">
								<label class="col-sm-3 control-label">回复时间：</label>
								<div class="col-sm-8">
									<input type="text" class="laydate-icon layer-date form-control"
										id="replyDate" name="replyDate" placeholder="请选择日期时间"
										onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
										style="background-color: #fff;" readonly="readonly"
										style="width: 40%; float: left" />
								</div>
							</div>
																																																								<div class="form-group">	
								<label class="col-sm-3 control-label">回复内容：</label>
								<div class="col-sm-8">
									<input id="replyContent" name="replyContent" class="form-control" type="text">
								</div>
							</div>
																																																	<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<!-- <select id="status" name="status"class="form-control">
											<option value="">---请选择---</option>
											<option th:each="dict:${T(com.bootdo.common.utils.DictUtils).getDictList('if_checked')}" th:value="${dict.value}" th:text="${dict.name}"></option>
										</select> -->
										<label class="radio-inline" th:each="dict:${T(com.bootdo.common.utils.DictUtils).getDictList('if_checked')}">
										<input type="radio" th:value="${dict.value}" th:text="${dict.name}"  name="status" 
											th:checked="${#numbers.formatDecimal(1,1,0)==#numbers.formatDecimal(dict.value,1,0)}">
									</label>
								</div>
							</div>
																																																	<div class="form-group">	
								<label class="col-sm-3 control-label">类型：</label>
								<div class="col-sm-8">
									<select id="type" name="type"class="form-control">
											<option value="">---请选择---</option>
											<option th:each="leaveMessageType : ${leaveMessageTypeList}" th:value="${leaveMessageType.mtName}" th:text="${leaveMessageType.mtName}"></option>
										</select>
								</div>
							</div>
																												<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/mia/leaveMessage/add.js">
	</script>
</body>
</html>
